<div class="main_header">
  <div class="left_header">
    <div class="header_title">hogekuga</div>
  </div>
  <div class="rigth_header">
    <div class="chat_end_btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="main_chat_body">
  <div class="chat_box">
    <div class="upper_box">
      <div class="chat_user_name">Tom</div>
      <div class="chat_date">2020/3/31(Wed) 12:34:56</div>
    </div>
    <div class="under_box">
      <div class="chat_text">おはよう</div>
    </div>
  </div>
  <div class="chat_box">
    <div class="upper_box">
      <div class="chat_user_name">Tom</div>
      <div class="chat_date">2020/3/31(Wed) 12:34:56</div>
    </div>
    <div class="under_box">
      <div class="chat_text">おはよう</div>
    </div>
  </div>
  <div class="chat_box">
    <div class="upper_box">
      <div class="chat_user_name">Tom</div>
      <div class="chat_date">2020/3/31(Wed) 12:34:56</div>
    </div>
    <div class="under_box">
      <div class="chat_text">おはよう</div>
    </div>
  </div>
</div>
<div class="main_footer">
  <div class="chat_form">
    <input class="chat_comment" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="send_btn" type="submit" value="送信" >
</div>